:root {
  // text colors

  // components color
  --component-black: #000;
  --component-blue: #002882;
  --component-light-blue: #00aaff;
  --component-light-light-blue: #78b497;
  --component-green: #d6e08d;
  --component-red: #e62632;
  --component-orange: #ea6b50;
  --component-yellow: #f1cc56;
  --component-wight: #fff;

  // background and stroke

  // border radiuses
  --border-radius-xxs: 4px;
  --border-radius-xs: 6px;
  --border-radius-s: 8px;
}