:root {
    // text colors
    
  
    // components color
    --component-black: #000;
    --component-blue: #002882;
    --component-light-blue: #00AAFF;
    --component-light-light-blue: #78B497;
    --component-green: #D6E08D;
    --component-red: #E62632;
    --component-orange: #EA6B50;
    --component-yellow: #F1CC56;
    --component-wight: #fff;
  
    // background and stroke
    
  
    // border radiuses
    --border-radius-xxs: 4px;
    --border-radius-xs: 6px;
    --border-radius-s: 8px;
  }